html {
    #  font-size: 62.5%;
    font-size: 12px;
    font-family: Arimo, Roboto, sans;
}

body {
  font-size: 1.6rem;
  /* color: #000; */
  color: navy
}

header {
  border-bottom: 0.2rem solid #000;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-variant: small-caps;
}


div.sourceCode {
  padding:16px;
  font-size:large;
  font-family:"FiraCode","Open Sans",sans-serif!important;
  width:100%;
  border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  -ms-border-radius:6px;
  -o-border-radius:6px;
  width:auto
}
pre {
  margin:64px 0;
  padding:24px;
  color:#b0b0b0;
  background-color:#1a1a1aa1
}
pre.sourceCode {
  width:auto
}

footer {
   
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

.logo a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.post-list a { color: darkred;
    text-decoration: none;
  }

.tags a { color: grey;
	  text-decoration: none;
	}

.post-list td {
    font-size: 16px;
    border-bottom: 1px solid #000;
}

td.tags  {
    width: 100px;
    font-size: 11px;
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 75rem;
    margin: 0 auto;
    padding: 10;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: left;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: left;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}
.image-wrapper-3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    text-align: center;
}

.image-wrapper-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    text-align: center;
}

.image-wrapper-1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    text-align: center;}


.image-container-1col {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    grid-gap: 15px;
    justify-items: center;
}

.image-container-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(2, 1fr); */
    padding: 15px;
    grid-gap: 15px;
}

.image-container-3col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    grid-gap: 15px;
}
.image {
    height: 200px;
}

.small-image {
    height: 100px;
}

.med-image {
    height: 200px;
}
		   

/*--------------------------------------------------------------------------------*/
table {margin: .5rem auto 1.5rem auto;
       width: 98%;}
        /* Thead */
thead th {padding: 0rem .2rem;
	  text-align: left;
	  border-bottom: 2px solid black;
	  font-size: 1.6rem;
	  font-style: normal;
	  font-weight: bold}
thead td {}
/* Tbody */
tbody td {padding: 0rem .2rem;}
tbody th {}

tbody .alt td {}
tbody .alt th {}
/* Tfoot */
tfoot th {}
tfoot td {}

.errata {color: red;;}


footer nav {
    text-align: center;
}

