---
title: stencilv Blog (George McNinch)
author: George McNinch
---


<h2>Here are the most recent posts</h2>
$partial("templates/post-list.html")$




<p> (the <a href="/archive.html">archives</a> should have the complete list of posts).</p>

<!-- <img src="/assets/images/post-horn.png" style="float: right; margin: 10px;" /> -->
<img src="/assets/images/post-horn.png" style="margin: 10px;" />
